# Dependencies
backend/node_modules
backend/src/node_modules
frontend/web/node_modules
frontend/mobile/node_modules

# Empty directories
frontend/web/frontend
frontend/web/public/assets/images copy

# Environment files
.env

# Build outputs
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
